<md-content>
	<div layout="row" layout-align="center center" layout-padding>
		<md-input-container>
			<label>Name: </label>
			<input ng-model="vm.event.name">
		</md-input-container>
	</div>

	<div layout="row" layout-align="center center" layout-padding>
		<md-input-container>
			<label>Location: </label>
			<input ng-model="vm.event.location">
		</md-input-container>
	</div>

	<div layout="row" layout-align="center center" layout-padding>
		<md-input-container>
			<label>Date: </label>
			<md-datepicker ng-model="vm.event.date"></md-datepicker>
		</md-input-container>
	</div>

	<div layout="row" layout-align="center center">
		<md-input-container>
			<div layout="row" layout-sm="column">
				<md-button class="md-raised md-primary" flex="50" flex-sm="100"
				           ng-click="vm.createEvent()">Submit
				</md-button>
			</div>
		</md-input-container>
	</div>
</md-content>

