<form>
	<div class="form-group">
		<label>Name: </label>
		<input type="text" class="form-control" id="name"
		       ng-model="vm.event.name">
	</div>
	<div class="form-group">
		<label>Location: </label>
		<input type="text" class="form-control" id="loc"
		       ng-model="vm.event.location">
	</div>
	<div class="form-group">
		<label>Date: </label>
		<input type="date" class="form-control" id="date"
		       ng-model="vm.event.date">
	</div>
	<div class="form-group col-xs-2 offset-xs-10">
		<input type="submit" ng-click="vm.createEvent()">
	</div>

</form>