<md-content id="content" style="padding: 4em 2em">
	<div layout="row" layout-align="center center" layout-fill>
		<md-whiteframe class="md-whiteframe-z1" layout="column" flex="55" layout-padding>
			<md-content>
				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>FirstName</label>
						<input ng-model="vm.registerUser.firstName">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>LastName</label>
						<input ng-model="vm.registerUser.lastName">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>Email</label>
						<input ng-model="vm.registerUser.email">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container flex="50">
						<label>Password</label>
						<input ng-model="vm.registerUser.password" type="password">
					</md-input-container>
				</div>

				<div layout="row" layout-align="center center">
					<md-input-container>
						<div layout="row" layout-sm="column" layout-margin>
							<md-button class="md-raised md-primary" flex="50" flex-sm="100"
							           ng-click="vm.goTo('login')">Back
							</md-button>
							<md-button class="md-raised md-primary" flex="50" flex-sm="100"
							           ng-click="vm.register()">Submit
							</md-button>
						</div>
					</md-input-container>
				</div>
			</md-content>
		</md-whiteframe>
	</div>
</md-content>

